/target/
/dist/
/.vcpkg/
/.idea/
/.vscode/
*.log
.DS_Store

/src/bridge_generated.rs
/src/bridge_generated.io.rs
/flutter/lib/generated_bridge.dart
/flutter/lib/generated_bridge.freezed.dart
/flutter/android/app/src/main/cpp/bridge_generated.h
/flutter/android/app/src/main/jniLibs/
/flutter/android/local.properties
/flutter/android/key.properties
/flutter/android/key.jks
/flutter/.dart_tool/
/flutter/.flutter-plugins
/flutter/.flutter-plugins-dependencies
/flutter/build/
